In [1]:
n = 2
p = 2

In [2]:
def test(n,p):
    return n**p

In [3]:
test(n,p)

4

In [6]:
a = lambda n,p :n**p  #lambda function is anonimous function

In [7]:
a(3,2)

9

In [8]:
add = lambda a,b:a+b

In [10]:
add(50,40)

90

In [11]:
#where we want to call function one time then we use lambda function 
#or our task is to small then we can use lambda function

In [14]:
max = lambda n1,n2:n1 if n1>n2 else n2

In [16]:
max(5,7)

7

In [18]:
max(8,5)

8

In [8]:
l = [1,2,3,4,5,6]
a = 5

In [9]:
def sq(x):
    return x**2

In [10]:
map(sq,l)   # first function name eg: sq and then we can value pass the values

In [11]:
list(map(sq,l))

[1, 4, 9, 16, 25, 36]

In [13]:
list(map(sq,a))  #we need to pass iterable object

TypeError: 'int' object is not iterable

In [15]:
s = {1,2,3,4,5}
list(map(sq,s))

[1, 4, 9, 16, 25]

In [16]:
#with internal function

list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36]

In [17]:
#if we want to write a complex logik then we can use External function 
#if we want to write a simple logik then we can use internal function

In [20]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

l3 = []

for i in range(5):
    ans = l1[i] + l2[i]
    l3.append(ans)
    
print(l3)

[7, 9, 11, 13, 15]

In [21]:
list(map(lambda x,y:x+y,l1,l2))

[7, 9, 11, 13, 15]

In [25]:
s = "kiran"
j = list(map(lambda s:s.upper(),s))
m = ""
for i in j:
    m = m + i
print("This is a string :",m)

This is a string : KIRAN

# Reduce function

In [28]:
#for use reduce function we need to call it by

from functools import reduce

In [38]:
l = [1,2,3,4,5,6,7]
 
reduce(lambda x,y :x+y,l)

28

In [39]:
#in abow example first x and y will be 1 and 2 and then x and y will be 
#3 and 3 then 6 and 4 then 10 and 5

In [40]:
reduce(lambda x,y,z :x+y+z,l)    #we can not give 3 argument over here

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [42]:
reduce(lambda x,y:x+y,[1]) #this is exception case

1

In [44]:
reduce(lambda x,y:x if x>y else y,l)

7

#filter function

In [45]:
list(filter(lambda x: x%2 == 0 ,l))

[2, 4, 6]

In [51]:
list(filter(lambda x,y: x%2 == 0 ,l1,l2)) # we can not pass 2 list in filter function

TypeError: filter expected 2 arguments, got 3

In [52]:
list(map(lambda x,y: (x+y) %2 == 0 ,l1,l2))

[False, False, False, False, False]

In [53]:
#filter function simply filter containd in object

In [54]:
l1 = [-1,2,-3,4,-5]

list(filter(lambda x:x<0,l1))

[-1, -3, -5]

In [61]:
l2 = ["kiran","sandip","Abhishak","gaurav","saurabh","sam"]

a1 = list(filter(lambda x:len(x)<6,l2))
a2 = list(filter(lambda x:len(x)>6,l2))

print(a1)
print(a2)

['kiran', 'sam']
['Abhishak', 'saurabh']