# generator function

In [8]:
#generator function not gives data directly single time it gives one by one

In [9]:
def fibo(n):  #in this function we not return any return statement yield gives us values
    a,b = 0,1
    for i in range(n):
        yield a       #yield funcion give data 
        a,b= b,b+a

In [5]:
fibo(10)  #this function can give us object id

In [7]:
for i in fibo(10):
    print(i ,end=" ")

0 1 1 2 3 5 8 13 21 34

In [10]:
#we use this generator function for memory optimization

In [25]:
def fibo2():
    a,b = 0,1
    while True:
        yield a
        a,b = b,a+b

In [26]:
fib = fibo2()

In [27]:
for i in range(10):
    print(next(fib),end=" ")

0 1 1 2 3 5 8 13 21 34

In [28]:
n = "kiran"
for i in n:
    print(i)

k
i
r
a
n

In [29]:
next(n)

TypeError: 'str' object is not an iterator

In [30]:
s = iter(n)

In [32]:
next(s)

'k'

In [33]:
next(s)

'i'

In [34]:
next(s)

'r'

In [40]:
#string is not iterable object 
#next() next function can take next next value from pointer
#basically if object is itrable then and then only next function work

In [37]:
type(n)

str

In [39]:
type(s) #now string is iterator object

str_ascii_iterator

In [41]:
next(s)

'a'

In [42]:
next(s)

'n'

In [44]:
next(s) #not data is finish stop iteration

StopIteration:

In [45]:
#how to work for loop ?
#-> for loop use interbally iter() and the use next() next for taking values
#and give values one by one

In [46]:
#we can not convert integer or float to itrable object
a = 321
b = iter(a)

TypeError: 'int' object is not iterable

In [49]:
#iterator is data in which we can data next next 
#iterable is data which we can convert in to iterator  (by using iter())

In [50]:
#we can create generator function by using yield function