# List

In [1]:
#primative data type = int float boolean string

In [2]:
#list is data type in which we can store same ass well as differen data

In [3]:
l = [1,2,'a',True]

In [4]:
l

[1, 2, 'a', True]

In [5]:
type(l)

list

In [6]:
l[0]

1

In [7]:
l[:]

[1, 2, 'a', True]

In [8]:
l[::-1]

[True, 'a', 2, 1]

In [9]:
#slicing can apply on list

In [12]:
l[90] #lower bond matters in list we can not put range more than size

IndexError: list index out of range

In [11]:
l[:90]

[1, 2, 'a', True]

In [13]:
l[-1]

True

In [14]:
l[::2]

[1, 'a']

In [15]:
l = [1,2,"kiran",True,3+7j]

In [16]:
l[2]

'kiran'

In [17]:
l[2][:2]

'ki'

In [19]:
l[2][::2]

'krn'

In [20]:
l[3]

True

In [21]:
l[3][:2]

TypeError: 'bool' object is not subscriptable

In [22]:
str(l[3])[:2]

'Tr'

In [23]:
str(l[3])[::-1]

'eurT'

In [26]:
l + "bhushan"

TypeError: can only concatenate list (not "str") to list

In [27]:
list("bhushan")

['b', 'h', 'u', 's', 'h', 'a', 'n']

In [28]:
l *3

[1,
 2,
 'kiran',
 True,
 (3+7j),
 1,
 2,
 'kiran',
 True,
 (3+7j),
 1,
 2,
 'kiran',
 True,
 (3+7j)]

In [29]:
len(l)

5

In [32]:
l.append("bhushan") #append add object at the end of the lisst

In [33]:
l

[1, 2, 'kiran', True, (3+7j), 'bhushan', 'bhushan']

In [34]:
l1 = [1,2,3]

In [35]:
l.append(l1)

In [36]:
l

[1, 2, 'kiran', True, (3+7j), 'bhushan', 'bhushan', [1, 2, 3]]

In [37]:
l.append(l)

In [38]:
l

[1, 2, 'kiran', True, (3+7j), 'bhushan', 'bhushan', [1, 2, 3], [...]]

In [39]:
l1.append(l1)

In [41]:
l1

[1, 2, 3, [...]]

In [42]:
l1

[1, 2, 3, [...]]

In [47]:
l1.extend([3,4,5]) #extend can split each object and add in string

In [44]:
l1

[1, 2, 3, [...], 3, 4, 5]

In [48]:
l1.extend("sandip") #extend can convert string in to single charecter and add in list

In [46]:
l1

[1, 2, 3, [...], 3, 4, 5, 's', 'a', 'n', 'd', 'i', 'p']

In [49]:
#append - add data at end 
#extends - unreap data and add

In [50]:
#if we want add data in specific place then we can use insert()

In [53]:
l1.insert(1,"king") #(postion , data)

In [52]:
l1

[1,
 'king',
 2,
 3,
 [...],
 3,
 4,
 5,
 's',
 'a',
 'n',
 'd',
 'i',
 'p',
 3,
 4,
 5,
 's',
 'a',
 'n',
 'd',
 'i',
 'p']

In [54]:
#inser push data next postion and add data on that specific location which user said

In [55]:
l2 = [1,2,3]

In [58]:
l2.insert(-1,45) #in this example we can add data at the last postion and the data which present in curret postion that data can push on next location

In [57]:
l2

[1, 2, 45, 3]

# pop

In [59]:
#if we want delete data form end then we can use pop 
#pop can remove one bye one data from end

In [60]:
l2

[1, 2, 45, 45, 3]

In [61]:
l2.pop()

3

In [63]:
l2 #3 is remove from l2

[1, 2, 45, 45]

In [65]:
l2.pop(2) #2 index value remove

45

In [66]:
#if can not pot indxe in pop the he can take -1 over ther that means last value

# remove

In [67]:
#remove remove data which we want 
#it can not remove data from given index he can remove data which given by user

In [68]:
l2

[1, 2]

In [86]:
l2 = [1,2,8,7,5,6]

In [87]:
l2.remove(8) #remove remove 8 from list

In [88]:
l2

[1, 2, 7, 5, 6]

In [89]:
l2.remove(8) #if that value is not present in list then we get value error

ValueError: list.remove(x): x not in list

In [90]:
l2.append([2,3,4])

In [91]:
l2

[1, 2, 7, 5, 6, [2, 3, 4]]

In [92]:
#if we want remove data from list of list 
l2.remove(l2[5][1])

ValueError: list.remove(x): x not in list

In [93]:
l2[5][1]

3

In [94]:
l2[5].remove(3) #if we want to remove data from list of list

In [95]:
l2

[1, 2, 7, 5, 6, [2, 4]]

In [96]:
l2.append("king")

In [97]:
l2

[1, 2, 7, 5, 6, [2, 4], 'king']

In [98]:
l2[6]

'king'

In [100]:
l2[6].remove(i) #string is immutable thats why we can not remove data

AttributeError: 'str' object has no attribute 'remove'

In [101]:
l2

[1, 2, 7, 5, 6, [2, 4], 'king']

In [103]:
l2.append(2)

In [104]:
l2

[1, 2, 7, 5, 6, [2, 4], 'king', 2]

In [105]:
l2.remove(2)

In [106]:
l2

[1, 7, 5, 6, [2, 4], 'king', 2]

In [107]:
#remove can remove first data wich given by usere he can not delete second data 
# if we habe list [1,2,2] and we set remove(2) then he can remove first 2 not seond

In [108]:
l2

[1, 7, 5, 6, [2, 4], 'king', 2]

In [109]:
l2[::-1]

[2, 'king', [2, 4], 6, 5, 7, 1]

In [110]:
l2

[1, 7, 5, 6, [2, 4], 'king', 2]

In [111]:
l2.reverse()

In [112]:
l2

[2, 'king', [2, 4], 6, 5, 7, 1]

In [113]:
#difference between revers() and l2[::-1] is reveres can reverse contend permanantly and -1 can revers for that time 

#-1 is temperory revers and revers() is permanant reverse

In [2]:
l2 = [2, 'king', [2, 4], 6, 5, 7, 1]

In [3]:
l2

[2, 'king', [2, 4], 6, 5, 7, 1]

In [5]:
l2.sort() #in this example list l2 has different data types thats why we got error

TypeError: '<' not supported between instances of 'str' and 'int'

In [6]:
l3 = [8,6,4,2,1]

In [9]:
l3.sort() #in this list list containd same data type

In [10]:
l3

[1, 2, 4, 6, 8]

In [11]:
l4 = ['a','z','d','c']

In [12]:
l4.sort()

In [13]:
l4

['a', 'c', 'd', 'z']

In [15]:
#sort() function use for sort similar type of data 
#sort() function sort data permanatly

In [16]:
l4.sort(reverse=True)

In [17]:
l4

['z', 'd', 'c', 'a']

In [22]:
l4.index('c') #use for find index of data (first occurance)

2

In [23]:
l4.count('d')#it tells how many times 'd' is comeing over in list

1

In [24]:
l4[1] = 'k' #list is mutebal

In [25]:
l4

['z', 'k', 'c', 'a']

In [26]:
s = 'kiran'

In [29]:
s.replace('k','j') #in this example we can just chaneg j for some time 
                   #change is not for permanatly

'jiran'

In [30]:
s

'kiran'

# tuple

In [31]:
t = (1,2,3)

In [32]:
t

(1, 2, 3)

In [35]:
#tuple is immutable in natur we cannot cahange values of tuple 
#we can not perform all operation on tuples as compair to list

In [36]:
t[1]

2

In [38]:
t[:]

(1, 2, 3)

In [39]:
type(t)

tuple

In [40]:
t[::-1]

(3, 2, 1)

In [42]:
t[0] = 5 #immutable

TypeError: 'tuple' object does not support item assignment

In [43]:
t.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [44]:
#we can not change , replace or update data in tuple

In [45]:
t

(1, 2, 3)

In [46]:
id(t)

1883757741888

In [47]:
id(t[::-1])

1883758243904

In [48]:
t.count(2)

1

In [49]:
t.count(5)

0

In [50]:
t.index(2)

1

In [51]:
t.index(5)

ValueError: tuple.index(x): x not in tuple

# set

In [52]:
s = {}

In [56]:
type(s)

dict

In [57]:
s = {1,2,3}

In [58]:
type(s)

set

In [60]:
s = {1,2,3,[5,4],'kp'} #set not accept list

TypeError: unhashable type: 'list'

In [61]:
s = {1,2,3,(5,4),'kp'}

In [62]:
s

{(5, 4), 1, 2, 3, 'kp'}

In [63]:
#set accept just immutable data (the data which can not cahnge)

In [64]:
#set gives jut uniq element it can not accept dupicate element he takes just unique element

In [66]:
l = [1,8,2,3,1,1,1,2,2,3,5,8]

In [67]:
l2 = set(l)

In [68]:
l2

{1, 2, 3, 5, 8}

In [69]:
list(l2)

[1, 2, 3, 5, 8]

In [70]:
#set is unorder data 
#set not take by defaultly data in order (set not arrange data in assending order)

In [74]:
s[:] #slicing is not work

TypeError: 'set' object is not subscriptable

In [73]:
s[0] #indexing is not work

TypeError: 'set' object is not subscriptable

In [79]:
s.add(9) #set use hashing for sort data

In [80]:
s

{1, 2, 3, 9, 'kp'}

In [83]:
s.remove(3)

In [84]:
s

{1, 2, 9, 'kp'}

In [85]:
n2=2+3j
n1=n2.imag

In [86]:
n2-n1

(-1+3j)

In [87]:
1_k = 5

SyntaxError: invalid decimal literal (750451015.py, line 1)

In [88]:
n = 'abc'
n[0] = 'g'

TypeError: 'str' object does not support item assignment

In [89]:
n.isupper()

False